{% extends 'base.html' %}

{% block content %}
  <a href="/">Back to Home</a>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>{{ playlist.title }}</h1>
      <h2>{{ playlist.description }}</h2>
      {% for video in playlist.videos %}
        <div class="card">
          <div class="card-body">
            <iframe style="width: 100%;" src="{{ video }}"></iframe>
          </div>
        </div>
      {% endfor %}
      <p><a href="/playlists/{{ playlist._id }}/edit">Edit Playlist</a></p>

      <p>
        <form method="POST" action="/playlists/{{ playlist._id }}/delete">
          <button class="btn btn-primary" type="submit">Delete Playlist</button>
        </form>
      </p>
    </div>
  </div>
{% endblock %}